<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<form method="POST" enctype="multipart/form-data" action="gpx-load">
    <table>
        <tr>
            <td>File to upload:</td>
            <td><input type="file" name="file" /></td>
        </tr>
        <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
    </table>
</form>

</form>
</body>
</html>