<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OpenLayers Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{css/base.css}"/>

    <script th:src="@{v5.3.0-dist/ol.js}" th:inline="javascript" ></script>
    <link rel="stylesheet" th:href="@{v5.3.0-dist/ol.css}"/>

    <script type="text/javascript" th:inline="javascript">
        var segments = [[${segments}]];
    </script>
</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>
<div id="loadForm">
    <form method="POST" enctype="multipart/form-data" action="/gpx">
        <table>
            <tr>
                <td>File to upload:</td>
                <td><input type="file" name="file"/></td>
                <td><input type="submit" value="Upload"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<div id="basicMap" th:if="${segments}">
    <script type="module" th:src="@{js/showGPX.js}" th:inline="javascript">
    </script>
</div>
</body>
</html>