<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OpenLayers Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{css/base.css}"/>

    <script th:src="@{v5.3.0-dist/ol.js}" th:inline="javascript"></script>
    <link rel="stylesheet" th:href="@{v5.3.0-dist/ol.css}"/>

    <script th:src="@{js/sse.js}" th:inline="javascript"></script>
</head>

<body th:onload="showMap()">

<div id="basicMap"></div>
<div id="info"></div>
<div id="control-panel">
    <input id="fitButton" value="Zoom To Fit" type="button">
    <input id="switchTiles" value="Switch Tiles" type="button">
</div>

</body>
</html>