<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>OpenLayers Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{css/base.css}"/>

    <script th:src="@{v5.3.0-dist/ol.js}" th:inline="javascript"></script>
    <link rel="stylesheet" th:href="@{v5.3.0-dist/ol.css}"/>

</head>
<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
    <input id="fitButton" value="Zoom To Fit" type="button">
</div>

<div id="logging"></div>

<div id="basicMap"></div>
<script th:type="module" th:src="@{js/sse.js}" th:inline="javascript"></script>
</body>
</html>