# Place this file into /etc/systemd/system/
[Unit]
Description=My GeoTrack Service
[Service]
User=ubuntu

# The configuration file application.properties should be here:
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB

#change this to your workspace
WorkingDirectory=/home/ubuntu/geotrack

#path to executable.
#executable is a bash script which calls jar file
ExecStart=/home/ubuntu/geotrack/geotrack.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target
